.slide {
  height: 562px;
  width: 100%;
}

.unselected-slide {
  padding: 30px;
}

.carousel {
  position: relative;
}

.carousel > h2 {
  color: #fff;
  font-weight:bold;
  font-size: 48px;
  font-style: italic;
  line-height: 72px;
  width:100%;
  height:100%;
  z-index: 5;
  position: absolute;
  top:0;
  left:0;
  font-family:"Indie Flower",sans-serif;
 /* -webkit-text-stroke:3px #fff;*/
 text-align: center;
 padding:15rem 0 0 0;
  opacity:0.7;
  background:#000000;
}

.img-slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border:2px solid red;
}

.thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: white;
  margin: 5px;
}

.active-thumb {
  height: 20px;
  width: 20px;
}
